* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-size: 50%;
  /* background-repeat: no-repeat; */
width: 100%;
background-image: url(https://i.pinimg.com/474x/e0/a1/e0/e0a1e0ca04578fc56b368e17cb662f1f.jpg);

}
.flex{
  display: flex;
}
.directionColumn{
  flex-direction: column;
}
.container {
  justify-content: center;
  margin-top: 70px;
  gap: 20px;
}
.cardElement{
  background-color: white;
  width: 100%;  
  gap: 10px;
  justify-content: space-between;
}
.cards {
  gap: 100px;

  border-radius: 20px;
  height: fit-content;
}
.card{max-width: 200px;
  gap: 10px;
  padding: 10px;
}
.doneBtn{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIkAAACJCAMAAAAv+uv7AAAAOVBMVEX///8AAACGhoaQkJCNjY2KioqUlJSBgYHV1dW3t7ezs7PCwsLw8PDs7OxeXl4PDw80NDQoKChWVlbPYhuxAAACHElEQVR4nO2abZOCMAyELb4goID+/x9753BKGwu0KYWdm30+605I0qW0ORwIIYQQQgghhBAyybWqm1uixq2pq2uixr3tjDF9nSRS978aXXtPCuRhBs4JIuc/jUdKKK15U6g1io9Gqw/k2n1UzEWpcRklOn2vVMaiVEmUtkSljqS2ZcxRoXB0FPSN3zg65hQtcHIFGnUkt95Vim3bwv17n+BLbnliC3QU/05ypbMQiymQDCTFkzyhhBeoUP9zgosQDM2KzIjWjyxKVShi1SjdSCCfLkRUlkbjRQGhLCdaW9JF5BMuZWX1Zh2JW5CyR1YqjT+UuXTH/FZBeMIzlmYg9EkzZ+RFWPU3CCQs7bGrTMmyS2SweD9LzikDWb1ZR+bfJvINlbgNmGcu/bJ4qxraN7JA43PrdzJKpnohZXe3UihDETYuzYDPV7JbvJ/vN7NcUxuUxh/Kc4/SDEjncMlk8X5kg9pks3g/ctHaXbMxU6FstGps/AXasFlHpIfslJEX0kV26JE30keeewUCkxOYPoFZOzB+AuOxMO8dmHcxzP4EZs8Gs4+F2dvDfO/AfAPGfBdnzQrMWUHs+Uk2i4M5U4I5Z4M5e4Q5j4U5o/ZbfNhvV80KzF1GbMKzFQjmzgvmHhDmbhTmvhjmDh1mrgBm1gJn/iR5JkdkRT+TgzOnhDO7hTPPhjPjBzT3iDMLesCZjyWEEEIIIYQQQv41P96/EBmZRXOqAAAAAElFTkSuQmCC);
}
.modal {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  width: 300px;
}
.bgcolor{
  background-color: #ebecf0;
  border-radius: 5px;
  width: 300px;
}
#addcard {
  border: none;
  font-size: 20px;
  border-radius: 20px;
}
#title {
  width: 100%
}
#desc {
  width: 100%;
  height: 150px;
}
#closeBtn {
  margin-top: 10px;
  height: 30px;
  width: 100%;
  background-color: black;
  color: white  ;
}
#priority{
  width: 100%;
}
#status{
  width: 100%;
}
